@page "{email}/Transfer"
@model ATM_Replica.Pages.UserTransactions.TransferModel
@{
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">ATM_Replica</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end mt-2 mt-md-0">
                <ul class="navbar-nav align-Items-center gap-md-3">
                    <li class="nav-item">
                        <p class="nav-link fw-bold my-0">@Model.Email</p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link fw-bold my-0">@Model.Balance</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" asp-route-Email="@Model.Email" asp-page="./UserDashboard">DashBoard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<section class="d-flex flex-md-row">
    <div class="col-md-6 mx-auto">
        <h3 class="text-black text-center mb-3">Transfer Money</h3>
        <form method="post" class="needs-validation">
            <div class="text-danger text-center" asp-validation-summary="ModelOnly"></div>
            <div class="form-group mb-3">
                <label class="text-secondary h6" for="ReceiverEmail">Receiver's Email</label>
                <input type="email" asp-for="ReceiverEmail" class="form-control" placeholder="Enter Receiver email" required />
            </div>

            <div class="form-group mb-3">
                <label class="text-secondary h6" for="Amount">Amount:</label>
                <input type="number" asp-for="Amount" class="form-control" placeholder="Enter amount" required />
            </div>

            <div class="form-group mb-3">
                <label class="text-secondary h6" for="Description">Description: </label>
                <input type="text" asp-for="Description" class="form-control" placeholder="Enter description" />
            </div>

            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-purple btn-lg" type="submit" data-bs-toggle="modal" data-bs-target="#transferSuccess">Transfer</button>
            </div>
        </form>
    </div>

    @if (Model.TransferSuccess == true)
    {

        <div class="col-md-5 mx-2" id="transferSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-header">
                            <h5 class="modal-title text-success"><i class="bi bi-check-circle fs-5 text-success"></i>Success!!</h5>
                        </div>
                        <div class="d-flex flex-column align-self-start px-3">
                            <h6 class="text-warning fw-bold">@Model.TransferAmount.TransactionType!</h6>
                            <h6>Date/Time : @Model.TransferAmount.TransactionDateTime</h6>
                            <h6>Acc : @Model.Email</h6>
                            <h6>Amount: @Model.TransferAmount.amount</h6>
                            <h6>Balance: @Model.Balance</h6>
                            @if (Model.Description != null)
                            {
                                <h4>Description: <span>@Model.Description</span></h4>
                            }
                            <hr>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @* <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>*@
                    </div>
                </div>
            </div>
        </div>


    }
</section>


